.itemPage {
  display: flex;

  img {
    min-width: 27vh;
    width: 26%;
    margin-right: 4vh;
  }
}

.itemSpec {
  * {
    margin: 1vh 0;
  }
}

.itemPriceBuy {
  margin-top: 2vh;
  display: flex;
  align-items: center;

  h2 {
    border-right: .1vh solid rgb(173, 173, 173);
  }

  * {
    padding: 0 2vh;
  }
}

.addPopUp {
  position: absolute;
  text-align: center;
  left: 0;
  right: 0;
  bottom: 5vh;
  color: gray;
}


@media(max-width: 720px){
  .itemPriceBuy {
    flex-direction: column;
    h2 {
      border-right: 0;
    }
  }
}

@media(max-width: 580px){
  .itemPage {
    flex-direction: column;
    img {
      margin: 0 auto;
      margin-bottom: 2vh;
    }
  }
}