.header {
  z-index: 3;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 2vh;
  background-color: #dbdbdb;
  border-radius: 0.5vh;
  margin-bottom: 2vh;
  justify-content: space-between;
  position: sticky;
  top: 0;
}

.headerNav {
  display: flex;
  align-items: center;
}

.headerNavMobile {
  display: none;
}

.headerNavItem {
  margin: 0 1vh;
  display: flex;
  transition: .3s;

  &:hover {
    transition: .3s;
    color: #424242;
  }
}

@media (max-width: 515px) {
  .headerNav {
    display: none;
  }

  .headerNavMobile {
    display: flex;
  }
}

// ------------------------------------------------------------

.headerNavMobile {
  input {
    opacity: 0;

    &:checked+.headerNavMobileMenuBnt>span {
      transform: rotate(45deg);
    }

    &:checked+.headerNavMobileMenuBnt>span::before {
      top: 0;
      transform: rotate(0deg);
    }

    &:checked+.headerNavMobileMenuBnt>span::after {
      top: 0;
      transform: rotate(90deg);
    }

    &:checked~.headerNavMobileMenuBox {
      left: 0 !important;
    }
  }
}

.headerNavMobileMenuBnt {
  position: relative;
  top: 0.6vh;
  width: 2.95vh;
  cursor: pointer;

  &>span,
  &>span::before,
  &>span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #858585;
    transition: .25s;
  }

  &>span::before {
    content: '';
    top: -8px;
  }

  &>span::after {
    content: '';
    top: 8px;
  }
}

.headerNavMobileMenuBox {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  left: -100%;
  width: 233px;
  height: 100%;
  margin: 0;
  padding: 25px 0;
  background-color: #ECEFF1;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, .4);
  transition: .25s;
}

.headerNavMobileItem {
  display: flex;
  padding: 9px 10px;
  font-size: 20px;
  transition: .25s;
}
