@tailwind base;
@tailwind components;
@tailwind utilities;

/* global */

.blackout {
  position: fixed;
  background-color: #00000093;
  width: 100%;
  height: 100vh;
  top: 0;
  z-index: 5;
  transition: all .3s;
  opacity: 0;
  pointer-events: none;
}

.rounded {
  border-radius: 30px !important;
}

.padded {
  padding: 20px;
}

.bg-gray {
  background-color: rgb(242, 242, 242);
  transition: .3s all;
}

.bg-gray:hover {
  background-color: rgb(223, 223, 223);
}

.bg-red {
  background-color: #ff335f;
}

.redBtn {
  background-color: #ff335f;
  text-align: center;
  display: flex;
  justify-content: center;
  border-radius: 30px;
  cursor: pointer;
  transition: .3s all;
  padding: 15px 0;
  color: white;
}

.redBtn:hover {
  background-color: #df2950;
}

.disabledBtn {
  transition: .3s all;
  pointer-events: none;
  background-color: #df29518a;
}

*::-webkit-scrollbar {
  width: 7px;
}

*::-webkit-scrollbar-track {
  background: rgba(219, 219, 219, 0.226);
}

*::-webkit-scrollbar-thumb {
  background-color: rgba(168, 168, 168, 0.459);
  border-radius: 10px;
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: 600;
}

h1 {
  font-size: 33px;
}

h2 {
  font-size: 28px;
}

h3 {
  font-size: 24px;
}

h4 {
  font-size: 20px;
}

h5 {
  font-size: 18px;
}

* {
  box-sizing: border-box !important;
  color: #404040;
}

html,
body,
#root {
  height: 100%;
  width: 100%;
  box-sizing: border-box;
}

svg {
  cursor: pointer;
}

body {
  display: flex;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  background-color: rgb(242, 242, 242);
  font-weight: 500;
  overflow-x: clip;
}

.app {
  width: 100%;
  height: 100%;
}

.appWrapper {
  max-width: 97%;
  margin: 0 auto;
}

input,
textarea {
  all: unset;

}

.styledInput {
  width: 100%;
  transition: all .3s;
  padding: 10px 15px;
  border-bottom: 2px solid rgba(220, 220, 248, 0.322);
  margin: 8px 0px;

}

.styledInput:hover {
  transition: all .3s;
  border-bottom: 2px solid rgba(220, 220, 248, 0.575);
}

.styledInput:focus {
  background-color: transparent;
  border-bottom: 2px solid rgb(220, 220, 248);
}

/* header */

.header {
  z-index: 5;
  display: flex;
  justify-content: space-between;
  background-color: white;
  border-radius: 0 0 30px 30px !important;
  padding: 25px;
  align-items: center;
  position: sticky;
  top: 0;
  margin-bottom: 25px;
}

.header__search {
  display: flex;
  flex: 1;
  margin: 0 21px 0 70px;
}

/* sidebar */

.sidebar {
  max-height: 80vh;
  overflow-y: scroll;
}

.sidebar::-webkit-scrollbar {
  width: 0px;
}

.catalogTree-img {
  min-width: 40px;
  min-height: 40px;
  background-size: cover;
  background-position: bottom;
  border-radius: 10px;
}

.catalogTree__category {
  margin: 13px 0;
}

/* main */

.main_block {
  margin-bottom: 20px;
}

/* stories */

.stories {
  display: flex;
  position: relative;
}

.stories_arrow {
  position: absolute;
  display: flex;
  position: absolute;
  height: 100%;
  align-items: center;
  z-index: 10;
}

.story {
  transition: all .3s;
  cursor: pointer;
  display: flex;
  min-width: 277px;
  max-width: 277px;
  height: 366px;
  background-size: cover;
  padding: 15px;
  margin-right: 10px;
  box-shadow: 0px 49px 38px 4px rgb(34 60 80 / 45%) inset;
}

/* product-card */

.product-card {
  display: flex;
  flex-direction: column;
  cursor: pointer;
  margin: 5px;
}

.productInCart {
  flex-direction: row;
  margin: 5px 0px;
  border-bottom: 2px dashed #0000001f;
  padding: 20px 0;
}

.productInCart img {
  max-width: 100px !important;
}

.productInCart .product-img {
  margin-right: 10px !important;
  margin-bottom: 0;
}

.product-price {
  display: flex;
  align-items: center;
  background-color: #f2f2f2;
  border-radius: 20px;
  width: fit-content;
  padding: 5px 11px;
  white-space: nowrap;
  transition: all .3s;
}

.product-price * {
  color: #ff335f;
  transition: all .3s;
}

.product-price_added {
  background-color: #ff335f;
}

.product-price_added * {
  color: #f2f2f2;
}

.product-img {
  margin-bottom: 10px;
}

.product-price span {
  margin: 0 7px;
}

.product-card span {
  font-weight: 600;
}

.product-name {
  opacity: 90%;
}

.product-measure {
  opacity: 50%;
  font-size: 14px;
}

.price-total {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10px;
  transition: all .3s;
  opacity: 0;
}

.product-card img {
  border-radius: 20px;
  max-width: 190px;
}

.img-blackout {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  border-radius: 20px;
  z-index: 3;
  transition: all .3s;
  display: flex;
  justify-content: center;
  align-items: center;
}

.img-blackout-true {
  background-color: #00000036;
}

.category {
  margin: 30px 0;
}

.subcategories {
  margin-top: 10px;
  flex-wrap: wrap;
}

.subcategory {
  margin: 5px;
  min-width: 200px;
  height: 263px;
  background-size: cover;
  border-radius: 20px;
  padding: 15px;
  cursor: pointer;
}

.subcategory span {
  font-weight: 600;
}

/* cart item */

.cart-list::-webkit-scrollbar {
  width: 0;
}


@media (max-width: 890px) {}