* {
  box-sizing: border-box;
}

html, body, #root, .app {
  height: 100%;
}

input {
  all: unset;
  width: 150px;
  display: flex;
  font-size: 35px;
  border: 5px solid white;
  padding: .5vh;
  margin-bottom: 10px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  /* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none;
  margin: 0;
  /* <-- Apparently some margin are still there even though it's hidden */
}

body {
  margin: 0;
  font-family: 'Silkscreen', cursive;
  color: white;
}

.app {
  transition: .5s;
  background-color: black;
}

h1, h2, h3, h4, h5 {
  margin: 0;
}

.text-center {
  text-align: center;
}

.header {
  margin-bottom: 5vh;
  display: flex;
  padding: 1vh 2vh;
  justify-content: space-between;
}

.link_item {
  cursor: pointer;
}

.link_item:hover {
  text-decoration: underline;
  text-underline-offset: 2px;
}

.gameField {
  display: flex;
}

.secretNumberValue {
  text-align: center;
  background-color: white;
  padding: 20px;
  width: 200px;
  color: black;
  z-index: 2;
  font-size: 30px;
}

.secretNumberBlock {
  margin: 5vh 0;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.line {
  width: 100%;
  height: 12px;
  background-color: white;
  position: absolute;
}

.resultsWrapper {
  flex: 1;
  display: flex;
  justify-content: center;
}

.results {
  display: flex;
  flex-direction: column;
}

.results * {
  margin-bottom: 8px;
}

.enterNumber {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
}

.welcomePage {
  text-align: center;
  padding: 70px 0;
}

.numSelectors {
  margin: 30px 0 20px 0;
  display: flex;
  justify-content: center;
}

.numSelectors * {
  margin: 10px;
}

.winScreen {
  transition: .5s;
  background-color: #22ff00;
}

.lossScreen {
  transition: .5s;
  background-color: #ff0000;
}

@media(max-width: 567px) {
  .gameField {
    flex-direction: column;
  }

  .results {
    margin-top: 30px;
  }
}

@media(max-width: 376px) {
  .header {
    text-align: center;
    flex-direction: column;
  }
}

@media(max-width: 400px) {
  .numSelectors {
    flex-direction: column;
    align-items: center;
  }
}