.main {
  position: relative;
  top: 10vh;
}

.button {
  color: #828282;
  transition: .3s;
  cursor: pointer;
  border: 0.1vh solid #d2d6d5;
  padding: 2vh 4vh;
  margin: 0 1vh;
  border-radius: 0.6vh
}

.button:hover {
  transition: .3s;
  background-color: #cdcece;
  border: 0.1vh solid #d2d6d5;
}