.filters {
    align-items: center;
    justify-content: space-between;
    display: flex;
    margin: 3vh 0;
}

.categories {   
    display: flex;
    flex-wrap: wrap;
    .category {
        border: .1vh solid white;
        font-weight: bold;
        border-radius: 3.4vh;
        margin: .5vh;
        cursor: pointer;
        transition: .3s;
        padding: 1.6vh 3vh;

        &:hover {
            transition: .3s;
            border: .1vh solid rgba(40, 40, 40, 1);
        }
    }

    .categoryActive {
        transition: .3s;
        color: white;
        background-color: rgba(40, 40, 40, 1);
    }
}

.sorts {
    cursor: pointer;
    position: relative;
    display: flex;
    align-items: center;
}

.sortsList {
    width: 100%;
    background-color: white;
    padding: 2vh;
    transition: .3s;
    position: absolute;
    border-radius: 1vh;
    div {
        transition: .3s;
        margin: .5vh 0;
        &:hover {
            transition: .3s;
            color: rgba(254, 95, 30, 1);
        }
    }
}

@media (max-width: 800px) {
    .filters {
        margin: 1vh 0;
        flex-direction: column;
        .categories {
            justify-content: center;
            margin-bottom: 1vh;
        }
    }
}

