/* all */
html, body {
    height: 100%;
    transition: .3s;
}

#root {
    height: 100%;
}

* {
    font-family: 'Montserrat', sans-serif;
}

.white-circle {
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 4.3vh;
    height: 4.3vh;
    border-radius: 50%;
}

.card {
    border-radius: 2vh;
    padding: 1vh 2vh;
    border: 0;
}

.fc-blue {
    color: rgba(71, 147, 255, 1);
}

.fc-gray {
    color: rgba(147, 156, 176, 1);
}

.br-2 {
    border-radius: 2vh;
}

.fs-default {
    font-size: 10.89vh;
}

.fs-96 {
    font-size: 10.89vh;
}

.fs-40 {
    font-size: 4.54vh;
}

.fs-25 {
    font-size: 2.83vh;
}

.fs-14 {
    font-size: 1.58vh;
}

.fs-13 {
    font-size: 1.47vh;
}

.fs-18 {
    font-size: 2.04vh;
}

.app {
    height: 100%;
    transition: .4s;
}

.content {
    width: 80%;
}

h1, h2, h3, h4, h5 {
    margin: 0;
}

.c-pointer {
    cursor: pointer;
}

.dark-theme {
    color: white;
}

.gray-bg {
    background-color: rgba(79, 79, 79, 1);
}

.dark-bg {
    background-color: rgba(46, 48, 53, 1);
}

.light-bg {
    background-color: rgba(71, 147, 255, 0.2);
}

.blue-bg {
    background-color: rgba(71, 147, 255, 1);
}

/* header */

.header {
    padding: 3vh 0;
}

.cities-list {
    top: 5vh;
    right: 0;
    flex-direction: column;
    position: absolute;
    z-index: 3;
    padding: 1vh;
    border-radius: 1vh;
}

/* city-temperature */


.city-temperature div {
    margin-right: 4vh;
}

.city-temperature img {
    width: 12vh;
}

/* forecast */

.forecast {
    margin: 5vh 0;
}

.forecast__schedule-item {
    transition: .4s;
    cursor: pointer;
    border-radius: 0.7vh;
    display: flex;
    justify-content: center;
    padding: 0.7vh 3vh;
    margin-bottom: 1vh;
}

.forecast__value {
    padding: 1vh 1.3vh;
    border-radius: 1vh;
    margin: 3vh 1.3vh;
    width: 16.91vh;
}

.forecast__value * {
    margin: 0.1vh 0;
}

.forecast__values {
    border-radius: 0 0 1vh 1vh;
}


.forecast__value img {
    width: 4vh;
}


.weather-data {
    background-image: url('./media/img/cloud_bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 21vh -5vh;
}

/* media */

@media(max-width: 1200px) {
    .content {
        width: 100%;
    }
}

@media(max-width: 769px) {

    .city-temperature {
        margin-bottom: 2vh;
    }

    .city-weather-data div {
        margin: 0.6vh 0;
    }

    .forecast__schedule-item {
        width: auto !important;
        padding: 0.3vh 1vh
    }

}