@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

.disabled-button {
    color: #d3d2d2 !important;
    cursor: default;
    pointer-events: none;
    background-color: white!important;
    border: 0.1vh solid #eadddd!important;
    border-left: 0 !important;
}

/* todo */

.todo-h h2 {
    margin-top: 2vh;
    font-size: 6vh;
    padding: 1vh 0;
}

.todo-form {
    display: flex;
    justify-content: center;
    background-color: white;
    padding-top: 1vh;
    position: sticky;
    top: 0;
    margin-bottom: 2vh;
}

.add-form-button {
    border: 0.1vh solid #a6e0e4;
    color: #ffffff;
    background-color: #a6e0e4;
    transition: .3s;
    display: flex;
    align-items: center;
    padding: 1vh;
    cursor: pointer;
}

.todo-form input {
    all: unset;
    transition: .3s;
    border: 0.1vh solid #eadddd;
    font-size: 2vh;
    padding: 2vh;
}

.todo-form input:focus {
    transition: .3s;
    border: 0.1vh solid #9fd0df;
}

.todo-list {
    margin-bottom: 4vh;
}

.todo-item {
    background-color: #eaeaeae8;
    border: 0.1vh solid white;
    transition: .3s;
    cursor: pointer;
    margin: 1vh 0px;
}

.todo-value {
    padding: 2vh;
    margin: .7vh 0px;
}

.todo-item:hover {
    transition: .3s;
    background-color: #48474736;
}

.todo-item-selected {
    border: 0.1vh solid #b7b7b7;
    transition: .3s;
    background-color: #48474736;
}

.todo-item-completed {
    transition: .3s;
    background-color: #d0f7d0;
}

.todo-item-completed:hover {
    transition: .3s;
    background-color: #c8f4c8;
}

.check-todo input {
    height: 2vh;
    width: 2vh;
    transition: .3s;
}

.todos-options * {
    text-underline-offset: 3px;
    transition: .3s;
    margin: 0.4vh 0;
    color: #717171;
    cursor: pointer;
}

@media (max-width: 769px) {
    .todo-item {
        border-right: 0;
        border-left: 0;
    }
}