.messenger {
  display: flex;
  flex-wrap: wrap;
}

.dialogs {
  background-color: white;
  position: sticky;
  top: 0;
  flex: 1;
  display: flex;
  flex-direction: column;
}

.dialogsList {
  position: sticky;
  top: 8%;
  display: flex;
  flex-direction: column;
  margin-left: 1vh;
}
.dialogsList div {
  display: flex;
  align-items: center;
  cursor: pointer;
  margin: 1vh 0;
  transition: 0.3s;
}
.dialogsList div:hover {
  transition: 0.3s;
  color: #424242;
}

.messages {
  flex: 4;
}

.messageList {
  height: 65vh;
  justify-content: flex-end;
  display: flex;
  flex-direction: column;
  margin-bottom: 2vh;
}

.messageChat {
  display: block;
  overflow-y: scroll;
}

.message {
  margin: 1vh 0;
  display: flex;
  align-items: center;
}

.messageSender {
  min-width: 11vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 1vh;
}

.messageText {
  flex: 1;
  padding: 1vh 2vh;
  border-left: 0.1vh solid #acacac;
}

.myMessage {
  flex-direction: row-reverse;
}
.myMessage .messageText {
  display: flex;
  justify-content: flex-end;
  border-left: 0;
  border-right: 0.1vh solid #acacac;
}

@media (max-width: 610px) {
  .messageList {
    height: 50vh;
  }

  .dialogs h1 {
    margin: 0;
  }

  .dialogsList {
    padding-top: 1vh;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .dialogsList div {
    margin: 1vh;
  }
  .dialogsList div svg {
    display: none;
  }

  .messenger {
    flex-direction: column;
  }
}