.adminPanel {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;

    h1 {
        font-size: 25px;
        margin: 2vh 0;
    }
}

.createForm {
    margin-top: 5vh;
    width: 50%;
    min-width: 50vh;
    margin: 0 auto;
    position: relative;

    input {
        width: 100%;
    }
}

.selector {
    box-shadow: 5px 6px 18px 0px #f97777b8;
    padding: 1vh 2vh;
    cursor: pointer;
    margin: 2vh 0;

    span {
        padding: 1vh 0;
    }
}

.list {
    max-height: 0;
    overflow-y: scroll;
    transition: .3s;

    div {
        margin: .5vh 0;

    }
}

.listActive {
    transition: .3s;
    max-height: 15vh;
    flex-direction: column;
}

.addSpecific {
    display: flex;
    align-items: center;

    i {
        margin-left: 1vh;
        transition: .3s;
        cursor: pointer;
        font-size: 3.2vh;

        &:hover {
            transition: .3s;
            transform: rotate(90deg);
        }
    }
}

.specificList {
    display: flex;
    flex-direction: column;
}

.specificItem {
    border-bottom: .1vh dashed rgb(158, 158, 158);
    display: flex;
    align-items: center;

    i {
        cursor: pointer;
        font-size: 2.4vh;
    }

    span {
        display: none;
    }

    * {
        margin: 1vh;
    }
}

@media(max-width: 529px) {
    .createForm {
        width: 90%;
        min-width: 0;
    }

    .specificItem {
        flex-direction: column;

        i {
            display: none;
        }

        span {
            display: block;
        }
    }


}