.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 3;
    position: sticky;
    top: 0;
    background-color: white;
    padding: 2vh 0;
}

.headerLogo {
    margin-right: 4vh;
    cursor: pointer;

    .logoSlogan {
        display: flex;
        flex-direction: column;
    }

    .logo {
        margin-right: 1.3vh;
        img {
            min-width: 3.5vh;
        }
    }

    .headerTitle {
        font-weight: bolder;
        font-size: 24px;
        line-height: 29px;
        text-transform: uppercase;
    }

    .headerSubtle {
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        color: #7B7B7B;
    }
}

.headerSearch {
    margin-right: 2vh;
    flex: 2;

    input {
        transition: .3s;
        width: 30vh;
        border-radius: 1vh;
        border: 0.1vh solid #dadada;
        padding: 1vh;

        &:focus {
            transition: .3s;
            border: 0.1vh solid #b6b5b5;
        }
    }
}

.headerCartButton {
    white-space: nowrap;
    font-weight: bold;
    cursor: pointer;
    padding: 1.7vh 2vh;
    border-radius: 3.40vh;
    transition: .3s;
    color: white;
    background-color: rgba(254, 95, 30, 1);
    display: flex;
    align-items: center;

    &:hover {
        transition: .3s;
        background-color: rgb(216, 61, 0);
    }

    .headerCartCounter {
        display: flex;
        align-items: center;
        border-left: .1vh solid rgba(255, 255, 255, 0.25);
    }

    div {
        padding: 0 1vh;
    }
}

@media (max-width: 800px) {
    .header {
        flex-wrap: wrap;
    }

    .headerLogo {
        margin: 0;
        width: 55%;
        order: 1;
    }

    .headerSearch {
        margin: 2vh 0;
        order: 3;

        input {
            width: -webkit-fill-available;
        }
    }

    .headerCart {
        order: 2;
    }
}

@media (max-width: 495px) {
    .headerLogo {
        width: 25%;
    }

    .logoSlogan * {
        display: none;
    }
}