.boardsList {
  display: flex;
  width: 90%;
  margin: 15px auto;
  flex-direction: column;
}

.boardsListItem {
  display: flex;
  padding: 10px;
  .boardsListId {
    flex: 1;
  }

  .boardsListName {
    flex: 4;
  }

  .boardsListLink {
    flex: 2;
  }

  .boardsListDesc {
    flex: 4;
  }

  .boardsListPosts {
    flex: 3;
  }
}

@media(max-width: 740px) {
  .boardsList {
    width: 100%;
  }
}

@media(max-width: 540px) {
  .boardsList {
    font-size: 13px;
  }
}