.catalog {
    display: flex;
    flex-direction: column;

    h1 {
        font-weight: 700;
        font-size: 32px;
        line-height: 39px;
    }

    h5 {
        width: 100%;
        text-align: center;
        color: rgb(165, 165, 165);
        margin: 3vh 0 1vh 0;
    }
}

.pizzasList {
    display: flex;
    flex-wrap: wrap;
}

.pizzasItem {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1vh .3vh;
    width: 24%;

    h2 {
        text-align: center;
        font-weight: 800;
        font-size: 20px;
        line-height: 24px;
        margin: 1vh 0 2vh 0;
    }

    span {
        font-weight: 700;
        font-size: 14px;
        line-height: 17px;
        cursor: pointer;
    }

    h3 {
        margin-right: 1vh;
        font-weight: 700;
        font-size: 22px;
        line-height: 27px;
        white-space: nowrap;
    }

    h4 {
        font-weight: 700;
        font-size: 16px;
        line-height: 19px;
        color: #EB5A1E;
        margin: 0 .8vh;
    }
}

.priceAndAdd {
    display: flex;
    align-items: center;
}

.addButton {
    padding: 1.58vh 2.04vh;
    border: .1vh solid #EB5A1E;
    border-radius: 3.4vh;
    transition: .3s;
    cursor: pointer;
    display: flex;
    align-items: center;

    &:hover {
        transition: .3s;
        background-color: rgba(254, 95, 30, 1);

        h4 {
            color: white;
        }

        svg path {
            fill: white;
        }
    }

    div {
        position: relative;
        transition: .1s;
        width: 0px;
        opacity: 0;
        font-weight: 400;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 2.8vh;
        border: .1vh solid rgba(254, 95, 30, 1);
        border-radius: 50%;
        color: white;
        background-color: rgba(254, 95, 30, 1);

        .itemConter {
            transition: .1s;
            position: absolute;
        }

        &:hover {
            .addButton {
                pointer-events: none!important;
            }
            transition: .1s;
            border: .1vh solid rgb(255, 191, 166);
            .itemConter {
                transition: .1s;
                opacity: 0;
                margin-top: 3.2vh;
            }

            .deleteItem {
                pointer-events: all;
                opacity: 1;
                margin-bottom: 0;
                transition: .1s;
            }
        }

        .deleteItem {
            opacity: 0;
            margin-bottom: 3.2vh;
            transition: .1s;
            position: absolute;
        }
    }

    .notEmptyItemsCounter {
        transition: .1s;
        width: 3vh;
        opacity: 1;
    }
}

.sizes {
    margin: 1vh 0 2vh 0;
}

@media(max-width: 1100px) {
    .pizzasItem {
        width: 31%;
    }
}

@media(max-width: 940px) {

    .pizzasList {
        justify-content: space-around;
    }

    .pizzasItem {
        width: 45%;
    }
}

@media(max-width: 680px) {
    .pizzasItem {
        width: 100%;
    }
}