/* password-show/hide */

.security-input {
  -webkit-text-security: disc;
}

.password-input {
	position: relative;
}

.password-input input{
	width: -webkit-fill-available;
}
.password-show {
  cursor: pointer;
	position: absolute;
	top: 2.24vh;
  right: 6vh;
	display: inline-block;
	width: 2.6vh;
	height: 2.6vh;
	background: url(../img/hide_password.svg);
  background-repeat: no-repeat;
  background-size: cover;
}
.password-hide {
  cursor: pointer;
	position: absolute;
	top: 2.24vh;
  right: 6vh;
	display: inline-block;
	width: 2.6vh;
	height: 2.6vh;
  background-repeat: no-repeat;
  background-size: cover!important;
	background: url(../img/show_password.svg);
}

/* clear input */

[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
  appearance: none;
  height: 1.5vh;
  width: 1.5vh;
  background-image: url(../img/clear_field.png);
  background-size: cover;
}

input[type="search"].error-input::-webkit-search-cancel-button {
  background-image: url(../img/clear_errorfield.png);
}

input[type="search"].success-check::-webkit-search-cancel-button {
  background-image: url(../img/success_check.png);
}

input[type="search"].success-check::-webkit-search-cancel-button:hover {
  background-image: url(../img/clear_field.png);
}

/* for all */

p {
  padding: 0;
  margin: 0;
}

button {
  all: unset;
  width: 100%;
}

a {
  color: inherit !important;
  text-decoration: none !important;
}

body {
  margin: 0;
}

input {
  all: unset;
}

* {
  color: Grayscale/800;
  font-family: 'Gilroy medium';
  font-size: 1.8vh;
  line-height: 20px;
}

.main-content {
  width: 95% !important;
}

.form-content {
  width: 50% !important;
}

h1, h2, h3, h4, h5 {
  margin: 0;
}

.c-pointer {
  cursor: pointer;
}

.blue_button {
  transition: .3s;
  cursor: pointer;
  color: rgba(255, 255, 255, 1);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2vh 0;
  border-radius: 1.36vh;
  background-color: rgba(70, 110, 250, 1);
}

.blue_button:hover {
  transition: .3s;
  background-color: rgba(17, 58, 202, 1);
}

.paleblue_button {
  transition: .3s;
  cursor: pointer;
  color: rgba(70, 110, 250, 1);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2vh 0;
  border-radius: 1.36vh;
  background-color: rgba(218, 226, 255, 1);
}

.paleblue_button:hover {
  transition: .3s;
  color: rgba(17, 58, 202, 1);
}

.disabled_button {
  transition: .3s;
  cursor: pointer;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2vh 0;
  border-radius: 1.36vh;
  background-color: rgba(229, 235, 255, 1);
}

/* auth */

.auth h4 {
  padding-bottom: 5.44vh;
  padding-top: 21.1vh;
}

.auth-form span {
  margin: 1vh 0;
  font-size: 1.36vh;
  line-height: 1.8vh;
}

.auth-form input {
  transition: .3s;
  background: #F2F3F4;
  border-radius: 1.36vh;
  border: 0.25vh solid #FFFFFF;
  padding: 2vh;
}

.auth-form input:focus {
  transition: .3s;
  border: 0.25vh solid black;
}

/* header */

.header {
  padding-top: 2.4vh;
}

/* profile-page */

.profile-page {
  margin-top: 7.39vh;
}

.profile-page__productivity {
  margin: 6.93vh 5vh !important;
}

/* profile-page */

.qna__allin {
  padding: 3vh;
  margin: 2vh 0;
  background: #FFFFFF;
  box-shadow: 0px 12px 26px rgb(214 215 217 / 57%);
  border-radius: 16px;
}

.qna__answer p {
  padding-top: 2vh;
  font-size: 1.58vh;
}

/* back arrow */

.back {
  position: absolute !important;
  top: 12.93vh;
}

/* exit-popup */

.popup-blackout {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  width: 100%;
  z-index: 2;
  background-color: black;
  opacity: .85;
  height: 100vh;
}

.exit-popup {
  z-index: -1;
  background: #FFFFFF;
  border-radius: 2.72vh;
  padding: 3.63vh 2.72vh;
  width: 37.68vh;
  position: fixed;
}

.exit-popup .close-popup {
  position: absolute;
  right: 2vh;
}

.exit-popup .loading-svg {
  animation-name: rotation;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.error-input {
  transition: .3s;
  border: 0.25vh solid #F46666 !important;
}

.error-text {
  transition: .3s;
  margin: 0.7vh;
  color: #F46666;
}

.success-input {
  transition: .3s;
  border: 0.25vh solid #17BC77 !important;
}

/* media */

@media(max-width: 580px) {

  .info__item {
    width: 35%;
  }

  .qna__questions {
    margin: 0 !important;
  }

}

@media(max-width: 800px) {

  .main-content {
    width: 93% !important;
  }

  .form-content {
    width: 85% !important;
  }

  .profile-page__productivity {
    text-align: center;
    justify-content: center !important;
    width: 90% !important;
    margin: 4vh auto !important;
  }

  .profile-page__productivity .blue_button {
    width: 100%;
    margin-bottom: 4vh;
  }

}

@media(max-width: 400px) {
  .header__logo h3 {
    display: none;
  }

}

@media(max-width: 450px) {

  .redact-href {
    display: none;
  }

  .popup-blackout {
    align-items: flex-end;
  }

  .exit-popup {
    z-index: -1;
    background: #FFFFFF;
    border-radius: 2.72vh 2.72vh 0 0;
    padding: 3.63vh 2.72vh;
    width: 91%;
    position: fixed;
  }

}

/* keyframes */

@keyframes rotation {
  0% {
    transition: .3s;
    transform: rotate(0deg);
  }

  100% {
    transition: .3s;
    transform: rotate(180deg);
  }
}