@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

*::-webkit-scrollbar {
    width: 6px;
}

*::-webkit-scrollbar-thumb {
    background-color: rgb(184, 182, 182);
    border-radius: 5px;
}

.red_bg {
    background: rgb(255 97 97);
}

.red_color {
    color: rgb(255 97 97);
}

.content {
    padding: 3vh 0;
    margin: 0vh auto;
    width: 90%;
}

input {
    all: unset;
    transition: .3s;
    margin: 2vh 0;
    padding: 1vh;
    border-bottom: .1vh solid rgb(173, 173, 173);

    &:focus {
        transition: .3s;
        border-bottom: .1vh solid rgb(255 97 97);
    }
}

h1 {
    font-size: 27px;
}

h2 {
    font-size: 25px;
}

h3 {
    font-size: 22px;
}

.link_item {
    transition: .2s;
    cursor: pointer;

    &:hover {
        transition: .2s;
        text-decoration: underline;
        text-underline-offset: .5vh;
    }
}

.link_item_active {
    transition: .2s;
    font-weight: bold;
}

.errorMessage {
    white-space: nowrap;
    opacity: 0;
    transition: .3s;
    bottom: -4vh;
    position: absolute;
    width: 100%;
    text-align: center;
    color: gray;
}

.showErrorMessage {
    transition: .3s;
    opacity: 1;
}



@media(max-width: 500px) {
    .content {
        width: 95%;
    }
}