* {
  box-sizing: border-box;
}

.justify-center {
  justify-content: center;
}

.justify-end {
  justify-content: flex-end;
}

.justify-between {
  justify-content: space-between;
}

html, body, #root, .app {
  height: 100%;
}

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
}

.app {
  background: rgb(250, 248, 43);
  background: linear-gradient(24deg, rgba(250, 248, 43, 1) 0%, rgba(252, 80, 0, 1) 100%);
  display: flex;
  justify-content: center;
  align-items: center;
}

h1, h2, h3, h4, h5 {
  margin: 0;
}

.main {
  width: 850px;
  position: relative;
  box-shadow: 6px 10px 16px 8px rgb(34 60 80 / 20%);
}

.cards {
  display: flex;
}

.card {
  transition: .3s;
  padding: 40px;
  background-color: #ffffff4f;
  text-align: center;
  flex: 1;
  display: flex;
  flex-direction: column;
}

.playerInfo {
  font-size: 25px;
}

.activeCard {
  transition: .3s;
  background-color: #ffffff88;
}

.permanentPoints {
  color: rgb(255, 136, 0);
  margin-top: 10px;
}

.optionButton {
  background-color: white;
  padding: 7px 13px;
  border-radius: 20px;
  width: fit-content;
  margin: 10px auto;
  cursor: pointer;
  transition: .3s;
}

.optionButton:hover {
  background-color: rgb(226, 226, 226);
  transition: .3s;
}

.currentPoints {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(255, 136, 0);
  color: white;
  width: fit-content;
  margin: 0 auto;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  transition: .3s;
  margin-top: 200px;
  z-index: 2;
}

.currentPoints * {
  margin: 2px 0;
}

.currentPoints:hover {
  background-color: rgb(219, 117, 0);
  transition: .3s;
}

.options {
  height: 100%;
  top: 50%;
  left: 0;
  position: absolute;
  right: 0;
  text-align: center;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.dice {
  width: 70px;
  height: 70px;
  display: flex;
  flex-direction: column;
  box-shadow: 6px 9px 20px 0px rgb(34 60 80 / 20%);
  border-radius: 10px;
  background-color: white;
  justify-content: space-between;
  padding: 6px 8px;
}

.emptyDice {
  box-shadow: none;
  background-color: transparent;
}

.diceCols {
  height: 33%;
  display: flex;
  align-items: center;
}

.diceDot {
  width: 10px;
  height: 10px;
  border-radius: 10px;
  background-color: black;
}

@media(max-width: 671px) {
  .cards {
    flex-direction: column;
  }

  .currentPoints {
    margin-top: 0px;
  }

  .options {
    flex-direction: row;
  }

  .card {
    padding: 66px 40px;
    flex-direction: row;
    align-items: center;
  }

  .optionButton {
    margin: 10px 0;
  }
}