body {
  margin: 0;
}

* {
  font-family: 'Rubik', sans-serif;
}

h1, h2, h3, h4 {
  text-align: center;
}

.text-center {
  text-align: center;
}

.d-flex {
  display: flex;
}

.justify-center {
  justify-content: center;
}

input {
  all: unset;
  border-bottom: 1px solid #00000040;
  padding: 13px;
  margin: 5px 16px;
  transition: .3s;
  width: 240px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

input:focus {
  border-bottom: 1px solid #0000007a;
  transition: .3s;
}

.welcomeScreen {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.welcomeScreen div {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.welcomeScreen span {
  margin: 20px 0 10px 0;
}

.linkItem {
  cursor: pointer;
}

.linkItem:hover {
  text-decoration: underline;
  text-underline-offset: 2px;
}

.wordsList {
  margin-top: 10px;
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
}

.wordsList * {
  margin: 10px;
  padding: 3px 8px;
  border-radius: 7px;
}

.unGuessedWord {
  background-color: #8080805e;
  color: transparent;
  user-select: none;
  border: 1px solid transparent;
}

.guessedWord {
  background-color: #f3f3f3;
  color: black;
  user-select: none;
  border: 1px solid black;
}

.guessWordInput {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.guessWordInput input {
  margin: 20px auto 10px auto;
}

