.popupWrapper {
    position: fixed;
    min-width: 400px;
    top: 5vh;
    right: -400px;
    transition: .3s all;
    height: 90vh;
    z-index: 8;
    background-color: white;
    padding: 13px 20px;
    display: flex;
    flex-direction: column;
    max-height: 1000px;
    overflow-y: auto;
}

.popupWrapper::-webkit-scrollbar {
    width: 0;
}

.show {
    right: 25px;
}