@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  text-align: center;
  box-sizing: border-box;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 500;
}

body {
  margin: 0;
}

h1 {
  font-size: 30px;
}

h2 {
  font-size: 20px;
}

svg {
  cursor: pointer;
}

.app {
  margin: 100px 10px 0 10px;
}

.gameInfo, .complexity {
  display: flex;
  align-items: center;
  justify-content: center;
}

.gameInfo div {
  margin: 10px 20px 30px 20px;
}

.complexity svg {
  margin: 0 2px;
}

.gameField, .card {
  box-shadow: 2px 4px 18px 2px rgb(0 0 0 / 65%);
}

.gameField {
  flex-wrap: wrap;
  display: flex;
  background: linear-gradient(24deg, rgba(43, 176, 250, 1) 0%, rgba(114, 0, 252, 1) 100%);
  margin: 0 auto 30px auto;
  padding: 1%;
  border-radius: 12px;
  justify-content: space-evenly;

}

.card {
  cursor: pointer;
  background-color: #293541;
  margin: 2%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 12px;
  transition: .5s;
  transform: scaleX(-1);
  color: white;
  font-size: 30px;
}

.card span {
  opacity: 0;
}

.card:hover {
  background-color: #3d4a57;
  transition: .3s;
}

.selectedCard {
  background: linear-gradient(24deg, rgb(107, 86, 182) 0%, rgb(37, 14, 245) 100%);
  transform: scaleX(1);
}

.matchedCard {
  background: linear-gradient(24deg, rgb(94 251 65) 0%, rgb(171 173 33) 100%);
  transform: scaleX(1);
}

.matchedCard span {
  opacity: 1;
}

.selectedCard span {
  opacity: 1;
}

.lowComplexity {
  max-width: 752px;
}

.lowComplexity div {
  min-width: 99px;
  width: 20.9%;
  height: 112px;
}

.midComplexity {
  max-width: 800px;
}

.midComplexity div {
  min-width: 108px;
  width: 16%;
  height: 110px;
}

.highComplexity {
  max-width: 1200px;
}

.highComplexity div {
  font-size: 20px;
  margin: 1%;
  min-width: 60px;
  width: 10%;
  height: 71px;
}

.difficultySelector span {
  margin: 0 10px;
  cursor: pointer;
}

.difficultySelector span:hover {
  text-decoration: underline;
  text-underline-offset: 2px;
}