.catalogPage {
    display: flex;
}

.catalogCategories {
    flex: 1;
    margin-right: 2vh;
}

.catalogCategoriesList {
    background-color: white;
    position: sticky;
    display: flex;
    flex-direction: column;
    top: 80px;

    * {
        margin: 1vh 0;
    }
}

.catalog {
    flex: 4;
    display: flex;
    flex-direction: column;
}

.catalogSearch {
    width: 20vh;
}

.catalogSearchBrands {
    background-color: white;
    position: sticky;
    top: 70px;
}

.catalogBrands {
    display: flex;
    flex-wrap: wrap;

    * {
        margin: 1vh;
    }
}

.catalogItems {
    display: flex;
    flex-wrap: wrap;
}

.catalogItem {
    cursor: pointer;
    margin: 1vh;
    width: 31%;
    display: flex;
    flex-direction: column;

    img {
        margin: 2vh auto;
        width: 80%;
    }
}

.catalogItemBrandRating {
    display: flex;
    justify-content: space-between;
    align-items: center;

    h5 {
        color: gray;
    }

    span {
        display: flex;
        align-items: center;

        i {
            margin-left: .5vh;
        }
    }
}

.catalogCategoriesListMobile {
    display: none;
}

.catalogItemName {
    font-weight: normal;
}

.pagination {
    display: flex;
    justify-content: center;
    position: sticky;
    bottom: 2vh;

    div {
        background-color: white;
        transition: .3s;
        width: 4vh;
        cursor: pointer;
        margin: 0 1vh;
        height: 4vh;
        border-radius: 1vh;
        display: flex;
        align-items: center;
        justify-content: center;
        border: .1vh solid white;
        &:hover {
            transition: .3s;
            border: .1vh solid rgb(0, 0, 0);
        }
    }

    .activePage {
        border: .1vh solid rgb(0, 0, 0);
        transition: .3s;
        background-color: black;
        color: white;
    }
}

@media(max-width: 1100px) {
    .catalogItem {
        width: 45%;
    }
}

@media(max-width: 720px) {

    .catalogItem {
        img {
            width: 60%;
        }
    }

    .catalogItem {
        width: 95%;
    }
}

@media(max-width: 515px) {

    .catalogPage {
        flex-direction: column;
    }

    .catalogCategoriesList {
        display: none;
    }

    .catalogCategoriesListMobile {
        display: flex;
        flex-wrap: wrap;
        border-top: 0.1vh solid rgb(215, 215, 215);

        div {
            padding: 1vh;
        }
    }

}